html {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a {
  text-decoration: none;
}


/* ---------------------------------------------------- */
/* top left header and page navigation                  */
/* ---------------------------------------------------- */
header {
  width: 242px;
  height: 98px;
  background-image: url(top_gradient.png);
  border-right: 1px solid #B3B3B3;
  border-bottom: 1px solid #B3B3B3;
  position: absolute;
  top: 0px;
  left: 0px;
  text-shadow: 0px 1px 1px white;
}

  header h1 {
    font-size: 20px;
    color: #666;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  header nav {
    position: absolute;
    top: 43px;
    left: 10px;
    width: 222px;
  }
  
    header nav li {
      float: left;
    }
  
    header nav li#page {
      width: 175px;
      background-image: url(page.png);
      background-repeat: no-repeat;
      background-position: 0px 4px;
      padding-left: 23px;
      height: 18px;
      margin-bottom: 5px;
    }
    
      header nav li#page select {
        height: 18px;
      }
  
    header nav li#logout, header nav li#settings {
      width: 80px;
      margin-top: 8px;
      font-size: 13px;
      color: #444;
      background-repeat: no-repeat;
      padding-left: 20px;
      line-height: 14px;
      height: 14px;
    }
    
    header nav li a {
      color: #444;
      outline: none;
    }
    
    header nav li#logout {
      background-image: url(logout.png);
    }
    
    header nav li#settings {
      background-image: url(settings.png);
    }


/* ---------------------------------------------------- */
/* record list context navigator & nav panel container  */
/* ---------------------------------------------------- */
#navigation_panels {
  border-right: 1px solid #B3B3B3;
  position: absolute;
  top: 99px;
  left: 0px;
  width: 242px;
  bottom: 0px;
  overflow: hidden;
}

.navigation_panel {
  border-right: 1px solid #B3B3B3;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 242px;
  bottom: 0px;
}

nav.previous_folder {
  background-color: #E0E2E5;
  height: 30px;
  width: 242px;
  border-right: 1px solid #B3B3B3;
  border-bottom: 1px solid #B3B3B3;
  position: absolute;
  top: 0px;
  left: 0px;
}

  nav.previous_folder a {
    background-image: url(left_arrow.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    padding-left: 18px;
    display: block;
    height: 30px;
    line-height: 32px;
  }


/* ---------------------------------------------------- */
/* records list                                         */
/* ---------------------------------------------------- */
nav.records {
  background-color: #FAFAFA;
  border-right: 1px solid #B3B3B3;
  position: absolute;
  left: 0px;
  top: 31px;
  bottom: 0px;
  width: 242px;
}

  nav.records ul {
    margin-top: 4px;
  }
  
    nav.records > ul > li > h1 {
      padding-left: 15px;
    }
  
    nav.records > ul > li > ul > li > h1 {
      padding-left: 20px;
    }
  
    nav.records > ul > li > ul > li > ul > li > h1 {
      padding-left: 40px;
    }
    
    nav.records > ul > li > ul > li > ul > li > ul > li > h1 {
      padding-left: 60px;
    }
    
    nav.records > ul > li > ul > li > ul > li > ul > li > ul > li > h1 {
      padding-left: 80px;
    }
    
    nav.records ul li {
      padding-bottom: 4px;
    }
    
      nav.records ul li h1 {
        font-size: 12px;
        color: #555;
        line-height: 26px;
        height: 26px;
        cursor: pointer;
      }
      
      nav.records ul li h1 p {
        display: inline;
      }
      
      nav.records ul li h1:hover, nav.records ul li.dragging h1 {
        background-color: #E0E4E7;
        color: #000;
      }
      
        nav.records ul li h1 div.icon {
          width: 17px;
          height: 17px;
          display: inline-block;
          margin-right: 10px;
          vertical-align: middle;
          overflow: hidden;
          position: relative;
          top: -2px;
        }
        
        nav.records ul li h1 div.folder_state {
          width: 9px;
          height: 9px;
          display: inline-block;
          margin-right: 10px;
          visibility: hidden;
        }
        
        nav.records ul li h1 div.folder_state_spacer {
          width: 9px;
          height: 9px;
          display: inline-block;
          margin-right: 10px;
        }
        
        nav.records ul li h1:hover div.folder_state {
          visibility: visible;
        }
        
          nav.records ul li h1 div.folder_state.open {
            background-image: url(open.png);
            visibility: visible;
          }
          
          nav.records ul li h1 div.folder_state.close {
            background-image: url(close.png);
          }
    
        nav.records ul li h1 div.slide {
          width: 4px;
          height: 8px;
          display: inline-block;
          position: relative;
          left: 5px;
          background-image: url(right_arrow.png);
        }
        
        nav.records ul li h1 div.drag {
          width: 11px;
          height: 12px;
          display: inline-block;
          float: right;
          background-image: url(drag.png);
          margin: 7px 10px 0px 0px;
          visibility: hidden;
        }
        
        nav.records ul li h1:hover div.drag, nav.records ul li.dragging h1 div.drag {
          visibility: visible;
          cursor: ns-resize;
        }
        
        nav.records ul li h1 div.delete {
          width: 12px;
          height: 12px;
          display: inline-block;
          float: right;
          background-image: url(delete.png);
          margin: 7px 10px 0px 0px;
          visibility: hidden;
        }

        nav.records ul li h1:hover div.delete, nav.records ul li.dragging h1 div.delete {
          visibility: visible;
        }

    nav.records ul li h1.new {
      opacity: 0.3;
    }
    
    nav.records ul li h1.new:hover {
      opacity: 1.0;
    }


/* ---------------------------------------------------- */
/* record editing and new record type panel             */
/* ---------------------------------------------------- */
article {
  position: absolute;
  left: 242px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 20px 25px 20px 25px;
  overflow: auto;
}

  article h1 {
    font-size: 18px;
    color: #3F3F3F;
    margin-bottom: 20px;
    padding-left: 0px;
  }
  
    article h1 .type {
      color: #bbb;
    }
  
  
  /* record form, labels and page options slider */
  article table {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  article section {
    margin-bottom: 20px;
    padding: 0px 10px 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    -moz-border-radius: 5px;
  }
  
    article section h1 {
      margin-bottom: 0px;
      font-size: 13px;
      padding: 10px 0px 6px 10px;
      font-weight: bold;
      color: #777;
      text-shadow: 0px 1px 1px white;
    }
    
      article section h1 a {
        font-weight: normal;
        color: #777;
        padding-left: 10px;
        font-size: 12px;
      }
    
    article section .embedded_documents > p {
      font-size: 13px;
      padding: 10px 0px 25px 0px;
      text-align: center;
      font-weight: bold;
      color: #777;
      text-shadow: 0px 1px 1px white;
    }
    
    article section table {
      margin: 0px;
      background-color: transparent;
    }
    
    article section .embedded_document {
      margin: 10px;
      padding: 0px;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      -moz-border-radius: 5px;
      position: relative;
    }
    
      article section .embedded_document .delete_embedded_document {
        width: 12px;
        height: 12px;
        background: url(delete.png) 0 0 no-repeat;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
      }

    article section .embedded_documents {
      position: relative;
      padding-bottom: 20px;
    }

      article section .embedded_documents .add_embedded_document {
        width: 12px;
        height: 12px;
        background: url(add.png) 0 0 no-repeat;
        display: block;
        position: absolute;
        bottom: 7px;
        right: 20px;
      }
    
  article form label {
    font-weight: bold;
    color: #777;
    font-size: 13px;
    text-shadow: 0px 1px 1px white;
  }
  
  article form table td#label_col {
    width: 90px;
  }
  
  article form table td {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 15px;
    vertical-align: top;
  }
  
  
  /* single line text, multi line text and html */
  article form table td.html {
    padding-right: 5px;
  }
  
  article form table td input, article form table td textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    outline: none;
    font-size: 11px;
    background: -webkit-gradient(linear, 0 0, 0 6, from(#e9e9e9), to(white));
    background: -moz-linear-gradient(#e5e5e5, white 6px);
  }
  
  article form table td input:focus, article form table td textarea:focus {
    border: 1px solid #009DDD;
  }
  
  article form table td input {
    height: 14px;
  }
  
  article form table td textarea {
    height: 100px;
  }
  
  
  /* attachments and photos */
  article form table td input[type=file] {
    width: auto;
    height: auto;
    background: transparent;
    border: none;
    padding: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
  }
  
  article form table .attachment {
    text-align: left;
    margin-top: -1px;
  }
  
    article form table .attachment .photo_preview {
      width: 100px;
      height: 100px;
      border: 1px solid #999;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-box-shadow: 0px 0px 3px #777;
      -moz-box-shadow: 0px 0px 3px #777;
      float: left;
      margin-right: 20px;
      background: transparent url(missing_photo.png) no-repeat 32px 37px;
    }
    
    article form table .attachment p {
      font-size: 13px;
      color: #333;
      margin-bottom: 5px;
      height: 22px;
      line-height: 22px;
    }
    
      article form table .attachment .title {
        color: #777;
        text-shadow: 0px 1px 1px white;
        font-weight: bold;
        display: inline-block;
        width: 55px;
      }
      
      article form table .attachment p a {
        padding-left: 20px;
        color: #333;
      }
  
  
  /* date and time */
  article form table .date {
    text-align: left;
    font-family: Helvetica;
  }
  
    article form table .date input {
      font-family: Helvetica;
      width: 250px;
      background: transparent;
      border: none;
      font-size: 13px;
      color: #333;
      padding: 0px;
      min-height: 17px;
    }
    
    article form table .date img {
      float: left;
      margin-right: 7px;
      cursor: pointer;
      position: relative;
      top: 1px;
    }

  /* date picker plugin custom styling */
  div#ui-datepicker-div {
    font-size: 12px;
  }

  div#ui-datepicker-div dd {
    margin: 0px 10px 0px 10px;
  }
  
  
  /* checkboxes */
  article form table .checkbox {
    text-align: left;
    font-size: 13px;
    color: #333;
  }
  
    article form table .checkbox input {
      width: auto;
      height: auto;
    }
  
  
  /* selects */
  article form table .select {
    text-align: left;
  }

    article form table .select select {
      font-size: 11px;
      margin-top: -1px;
    }
  
  
  /* has many lists */
  article form table .has_many {
    text-align: left;
    font-size: 13px;
    color: #333;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 2px;
    -moz-border-radius: 2px;
  }
  
    article form table .has_many .search_bar {
      background-color: #f0f0f0;
      border-bottom: 1px solid #ddd;
      padding: 3px 3px 4px 3px;
      height: 19px;
    }
    
      article form table .has_many .search_bar input {
        width: 150px;
        height: 19px;
        float: right;
        padding: 0px;
      }
    
    article form table .has_many ul {
      height: 100px;
      overflow: auto;
      clear: both;
    }
    
      article form table .has_many ul li {
        padding: 3px 0px 3px 10px;
      }
      
      article form table .has_many ul li:nth-child(odd) {
        background-color: white;
      }
      
      article form table .has_many ul li:nth-child(even) {
        background-color: #f5f5f5;
      }
      
        article form table .has_many ul li input {
          width: auto;
          height: auto;
          margin-right: 10px;
          position: relative;
          top: -1px;
        }
        
        article form table .has_many ul li p {
          display: inline;
          font-size: 12px;
        }
  
  
  /* save and restore buttons */
  article button {
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 12px;
    color: #777;
    font-family: Helvetica;
    font-weight: bold;
    padding: 4px 8px;
    text-shadow: 0px 1px 1px white;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#dfdfdf));
    background: -moz-linear-gradient(#f0f0f0, #dfdfdf 100%);
  }
  
  article button:active {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e5e5), to(#e5e5e5));
    background: -moz-linear-gradient(#e5e5e5, #e5e5e5 100%);
  }
  
  article #save {
    float: right;
    height: 24px;
    line-height: 24px;
  }
  
    article #save div {
      height: 24px;
      width: 24px;
      overflow: hidden;
      float: left;
      margin-top: 4px;
      margin-right: 7px;
      position: relative;
    }
    
      article #save div img {
        position: absolute;
      }
      
      #save_success, #save_failure {
        top: 3px;
        left: 4px;
      }


  article #record_loading {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: black;
    background-color: rgba(0,0,0,0.75);
    text-align: center;
  }
  
    article #record_loading img {
      position: absolute;
      top: 50%;
      margin-top: -16px;
      left: 50%;
      margin-left: -16px;
      background-color: black;
      padding: 15px;
      border-radius: 5px;
    }
  
  
  /* new record type panel */
  article .new_record_type {
    background-color: #f0f0f0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
  }
  
    article .new_record_type li {
      width: 120px;
      float: left;
      text-align: center;
      background-color: white;
      border: 1px solid #f5f5f5;
      border-radius: 5px;
      -moz-border-radius: 5px;
      margin: 5px;
      padding: 10px;
    }
    
    article .new_record_type li:hover {
      background: #f5f5f5;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5');
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
      background: -moz-linear-gradient(top,  #fff,  #f5f5f5);
      border: 1px solid #ddd;
    }
    
      article .new_record_type li p {
        font-size: 13px;
        color: #555;
        margin-top: 7px;
      }
      
      article .new_record_type li:hover p {
        color: #333;
      }
  