<div class="list">
  <menu>
    <input type="text" id="search" placeholder="Search <%= title.pluralize %>">
    &nbsp;
  </menu>
  <article>
    <ul id="items" class="<%= title.downcase.underscore %> <%= 'no_grouping' if group_by.blank? %>">
      <%= render_list_items %>
    </ul>
    <section>

      <article id="record">
        <section>
          <article id="record_content">
          </article>
        </section>
      </article>

    </section>
  </article>

  <script>
    var selectedRecord = null;
  
    function reloadItemList() {
      new Ajax.Updater('items', "<%= path %>?search=" + $F('search'), {method: 'get', evalScripts: true, onComplete: function(transport) {
        if(selectedRecord) {
          var element = $$('li[data-record-id=' + selectedRecord + ']').first();
          if(element)
            element.addClassName('selected');
        }
      }});
    }
  
    document.on('click', '.record_row', function(event, element) {
      var id = element.readAttribute('data-record-id');
      if(id != selectedRecord) {
        if(selectedRecord)
          $$('li[data-record-id=' + selectedRecord + ']').first().removeClassName('selected');
        element.addClassName('selected');
        selectedRecord = id;
      
        new Ajax.Updater('record_content', "<%= path %>?record_id=" + id, {method: 'get', evalScripts: true});
      }
    });
  
    $('search').observe('keyup', function(event) {
      if(event.keyCode == Event.KEY_RETURN)
        reloadItemList();
    });
  </script>
</div>
