<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/admin/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/admin/css/admin.css" type="text/css">
    <link rel="stylesheet" href="/admin/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css">
    <link rel="stylesheet" href="/admin/chosen/chosen.css" type="text/css">
    <script src="/admin/js/jquery.min.js"></script>
    <title>Admin - <%= admin_page == self ? 'Dashboard' : title %></title>
    <%= @head %>
  </head>
  <body>
    <header>
      <h1>yodel</h1>
      <div id="lip"></div>
      <h2><%= @site.name %></h2>
      <nav>
        <a class="<%= 'selected' if path == admin_page.path %>" href="<%= admin_page.path %>">Dashboard</a>
        <% admin_page.children.each do |child| %>
          <a class="<%= 'selected' if path == child.path %>" href="<%= child.path %>"><%= child.title %></a>
        <% end %>
      </nav>
    </header>
    <%= content %>
    
    <script src="/admin/chosen/chosen.jquery.min.js"></script>
    <script src="/admin/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="/admin/js/json2.js"></script>
    <script src="/admin/tiny_mce/jquery.tinymce.js"></script>
    <script src="/admin/js/yodel_jquery.js"></script>
    <script src="/admin/js/admin.js"></script>
  </body>
</html>
